body{
    display: flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rules{
    display: flex;
    flex-direction: column;
    background-color: #0077b6;
    height: 1000px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 60px;
    color: #ffffff;
}

h2{
    font-size: 30px;
    color: white;
    margin-top: -20px;
}

p {
    font-size: 30px;
    color: #caf0f8;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.playArea{
    display: flex;
    flex-direction: column;
    background: #00b4d8;
    height: 600px;
}

.choice {
    display: flex;
    justify-content: space-evenly;
}

.selectChoice{
    display: flex;
    flex-direction: column;
    border: transparent #caf0f8;
    justify-content: center;
    align-items: center;
    background: white;
    text-align: center;
    border-width: 5px;
    gap: 10px;
    max-width: 400px;
    border-radius: 30px;
    padding: 20px;
    transition: all 0.5s ease-out;
}

img {
    height: 240px;
    width: 240px;
}

.playHeader {
    font-size: 60px;
    color: white;
    font-weight: bolder;
    align-self: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

h3{
    color: #00b4d8;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.text{
    color: #0077b6;
    font-size: 20px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.resultArea,
.messageArea{
    display: flex;
    justify-content: center;
    height: 200px;
    background-color: #90e0ef;
    gap: 200px;
}

.playerScoreArea,
.computerScoreArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#0077b6;
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
    gap: 20px;
}

.message{
    display: flex;
    flex-direction: column;
    color: #0077b6;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.hoverAnimation{
    max-width: 600px !important;
}

#resetStyle{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    max-height: 100x;
    max-width: 150px;
    padding: 25px;
    color:#0077b6;
    background-color: #caf0f8;
    border-radius: 20px;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
}
